.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;

  /* your code here */
}

#bulbasaur {
  /* your code here */
}

#charmander {
  /* your code here */
  top: 1rem;
}

#squirtle {
  /* your code here */
  top: 6rem;
}

#pikachu {
  /* your code here */
  top: 12rem;
}

#jigglypuff {
  /* your code here */
  top: 25rem;
}
